input {
    width: 15rem;
    height: 2rem;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border: none;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    outline: none;
}

label {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    font-size: 1rem;
}

.Invalid {
    border-bottom: 1.5px solid red;
    /* background-color: #FDA49A; */
}