.Product {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 450px;
    /* border: 1px solid red; */
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px dotted grey;
}

.Product p {
    letter-spacing: -0.2px;
    font-weight: 400;
    font-size: 10px;
    cursor: pointer;
}

.description {
    background: rgb(205, 205, 205);
    width: 210px;
    padding: 5px;
}

.Product h3 {
    letter-spacing: 0.2px;
    font-size: 10px;
}

.name{
    font-size: 0.8rem;
    letter-spacing: -0.9px;
    padding: 10px;
    margin-top: -4px;
} 

.priceAndBuyContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}